@page "/"

@if (User is not null)
{

    <ul>
    @foreach (HPCProjectTemplate.Shared.OMDBMovieResponse movie in movies)
    {
        <li>@movie.Title (@movie.Year) <br /> @movie.Actors.Replace(",", " | ") </li>
    }
    </ul>
}