@page "/"

@if (User is not null)
{
    <ul>
    @foreach (HPCProjectTemplate.Shared.OMDBMovieResponse movie in movies)
    {
        @*<li>@movie.Title (@movie.Year) <br /> @movie.Actors.Replace(",", " | ") <br /> <img src="@movie.Poster" width="150" /> </li>*@
        <MovieDetails Movie=movie />
    }
    </ul>
}